.App {
  text-align: left;
}

.App-header {
  background-color: red;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn-hide-sold-items {
  flex: 0 1 auto;
  margin: 2.5%;
  margin: 2.5% 2.5% 0 2.5%;
}

.number-of-results {
  flex: 1 1 auto;
  font-size: 24px;
  margin: 2.5% 2.5% 0 2.5%;
}

.results-header {
  display: flex;
}
