.products {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.product {
  flex: 1 1 auto;
  margin: 0;
  max-width: 20%;
  padding: 2.5%;
  text-align: left;
}

img {
  height: 100%;
  width: 100%;
}
