.hide {
  display: none;
}

.like {
  fill: white;
  height: 20%;
  position: relative;
  width: 20%;
  top: 25%;
  left: 75%;
}

.liked {
  fill: red;
}

.products {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  position: relative;
}

.product {
  flex: 1 1 auto;
  margin: 0;
  max-width: 20%;
  padding: 2.5%;
  text-align: left;
}

img {
  height: 100%;
  width: 100%;
  margin-top: -25%;
}
